#define TRACE_CONTEXTSWITCHTOUSERTHREAD     								1
#define TRACE_CONTEXTSWITCHFROMUSERTHREAD   								2
#define TRACE_RADIOEVENT_RECEIVEPACKET	    								3
#define TRACE_RADIOEVENT_SENDPACKET 												4
#define TRACE_ADCEVENT_READLIGHT            								5
#define TRACE_ADCEVENT_READTEMP 														6
#define TRACE_LEDEVENT_REDTOGGLE            								20
#define TRACE_LEDEVENT_GREENTOGGLE          								21
#define TRACE_LEDEVENT_YELLOWTOGGLE         								22
#define TRACE_THREADCREATE                                                  23
#define TRACE_THREADDESTROY													24


//List of system calls. Each could be separately enabled or disabled.

#define TRACE_SYSCALL_GETNODEID         										101
#define TRACE_ENABLE_SYSCALL_GETNODEID
#define TRACE_SYSCALL_SETNODEID         										102
#define TRACE_ENABLE_SYSCALL_SETNODEID
#define TRACE_SYSCALL_GETRANDOMNUMBER   										103
#define TRACE_ENABLE_SYSCALL_GETRANDOMNUMBER


#define TRACE_SYSCALL_GETCURRENTTHREADADDRESS 							201
#define TRACE_ENABLE_SYSCALL_GETCURRENTTHREADADDRESS
#define TRACE_SYSCALL_GETCURRENTTHREADINDEX  								202
#define TRACE_ENABLE_SYSCALL_GETCURRENTTHREADINDEX
#define TRACE_SYSCALL_GETTHREADCONTROLBLOCK                 203
#define TRACE_ENABLE_SYSCALL_GETTHREADCONTROLBLOCK
#define TRACE_SYSCALL_YIELDFUNCTION											    204
#define TRACE_ENABLE_SYSCALL_YIELDFUNCTION
#define TRACE_SYSCALL_POSTTHREADTASK           							205
#define TRACE_ENABLE_SYSCALL_POSTTHREADTASK
#define TRACE_SYSCALL_CREATETHREAD												  206
#define TRACE_ENABLE_SYSCALL_CREATETHREAD
#define TRACE_SYSCALL_ENABLE_GETTHREADTABLESTART            
#define TRACE_SYSCALL_GETTHREADTABLESTART                                 207

#define TRACE_SYSCALL_POSTTASKSYSCALL                       301
#define TRACE_ENABLE_SYSCALL_POSTTASKSYSCALL

#define TRACE_SYSCALL_MALLOCFUNCTION    										401
#define TRACE_ENABLE_SYSCALL_MALLOCFUNCTION
#define TRACE_SYSCALL_FREEFUNCTION     										  402
#define TRACE_ENABLE_SYSCALL_FREEFUNCTION
#define TRACE_SYSCALL_KERNELSTACK                           403
#define TRACE_ENABLE_SYSCALL_KERNELSTACK 


#define TRACE_SYSCALL_SETRADIOFREQUENCY 										501
#define TRACE_ENABLE_SYSCALL_SETRADIOFREQUENCY
#define TRACE_SYSCALL_SETRADIOCHANNEL   										502
#define TRACE_ENABLE_SYSCALL_SETRADIOCHANNEL
#define TRACE_SYSCALL_SETRADIOPOWER     										503
#define TRACE_ENABLE_SYSCALL_SETRADIOPOWER
#define TRACE_SYSCALL_GETRADIOSENDFUNCTION  								504
#define TRACE_ENABLE_SYSCALL_GETRADIOSENDFUNCTION
#define TRACE_SYSCALL_SETCURRENTRADIOHANDLE                 505
#define TRACE_ENABLE_SYSCALL_SETCURRENTRADIOHANDLE
#define TRACE_SYSCALL_GETCURRENTRADIOINFOADDRESS 						506
#define TRACE_ENABLE_SYSCALL_GETCURRENTRADIOINFOADDRESS
#define TRACE_SYSCALL_GETCURRENTRADIORECEIVERHANDLEADDRESS    							507
#define TRACE_ENABLE_SYSCALL_GETCURRENTRADIORECEIVERHANDLEADDRESS



#define TRACE_SYSCALL_REDTOGGLEFUNCTION                     601
#define TRACE_ENABLE_SYSCALL_REDTOGGLEFUNCTION
#define TRACE_SYSCALL_YELLOWTOGGLEFUNCTION    							602
#define TRACE_ENABLE_SYSCALL_YELLOWTOGGLEFUNCTION
#define TRACE_SYSCALL_GREENTOGGLEFUNCTION   	              603
#define TRACE_ENABLE_SYSCALL_GREENTOGGLEFUNCTION               
#define TRACE_SYSCALL_REDONFUNCTION         			          604
#define TRACE_ENABLE_SYSCALL_REDONFUNCTION  					
#define TRACE_SYSCALL_REDOFFFUNCTION        								605
#define TRACE_ENABLE_SYSCALL_REDOFFFUNCTION
#define TRACE_SYSCALL_YELLOWONFUNCTION        							606
#define TRACE_ENABLE_SYSCALL_YELLOWONFUNCTION
#define TRACE_SYSCALL_YELLOWOFFFUNCTION     								607
#define TRACE_ENABLE_SYSCALL_YELLOWOFFFUNCTION     
#define TRACE_SYSCALL_GREENONFUNCTION        								608
#define TRACE_ENABLE_SYSCALL_GREENONFUNCTION    
#define TRACE_SYSCALL_GREENOFFFUNCTION       								609
#define TRACE_ENABLE_SYSCALL_GREENOFFFUNCTION


#define TRACE_ENABLE_SYSCALL_ADCLIGHTSYSCALL
#define TRACE_SYSCALL_ADCLIGHTSYSCALL      								701
#define TRACE_ENABLE_SYSCALL_ADCTEMPSYSCALL
#define TRACE_SYSCALL_ADCTEMPSYSCALL       								702
#define TRACE_ENABLE_SYSCALL_ADCMAGXSYSCALL
#define TRACE_SYSCALL_ADCMAGXSYSCALL       								703
#define TRACE_ENABLE_SYSCALL_ADCMAGYSYSCALL
#define TRACE_SYSCALL_ADCMAGYSYSCALL       								704
#define TRACE_ENABLE_SYSCALL_ADCACCXSYSCALL
#define TRACE_SYSCALL_ADCACCXSYSCALL       								705
#define TRACE_ENABLE_SYSCALL_ADCACCYSYSCALL
#define TRACE_SYSCALL_ADCACCYSYSCALL       								706
#define TRACE_SYSCALL_SOUNDERONFUNCTION     					    707
#define TRACE_ENABLE_SYSCALL_SOUNDERONFUNCTION
#define TRACE_SYSCALL_SOUNDEROFFFUNCTION     					708
#define TRACE_ENABLE_SYSCALL_SOUNDEROFFFUNCTION
#define TRACE_SYSCALL_GETCURRENTEEPROMHANDLEADDRESS   			709
#define TRACE_ENABLE_SYSCALL_GETCURRENTEEPROMHANDLEADDRESS
#define TRACE_SYSCALL_READFROMEEPROM   										710
#define TRACE_ENABLE_SYSCALL_READFROMEEPROM
#define TRACE_SYSCALL_WRITETOEEPROM    										711
#define TRACE_ENABLE_SYSCALL_WRITETOEEPROM


#define TRACE_ENABLE_SYSCALL_GETFILEPATHADDR
#define TRACE_SYSCALL_GETFILEPATHADDR        								801
#define TRACE_ENABLE_SYSCALL_GETFILEMODEADDR
#define TRACE_SYSCALL_GETFILEMODEADDR        								802
#define TRACE_ENABLE_SYSCALL_OPENFILESYSCALL
#define TRACE_SYSCALL_OPENFILESYSCALL        								803
#define TRACE_ENABLE_SYSCALL_CLOSEFILESYSCALL
#define TRACE_SYSCALL_CLOSEFILESYSCALL       								804
#define TRACE_ENABLE_SYSCALL_READFILESYSCALL
#define TRACE_SYSCALL_READFILESYSCALL        								805
#define TRACE_ENABLE_SYSCALL_WRITEFILESYSCALL
#define TRACE_SYSCALL_WRITEFILESYSCALL       								806
#define TRACE_ENABLE_SYSCALL_SEEKFILESYSCALL
#define TRACE_SYSCALL_SEEKFILESYSCALL      								807


#define TRACE_SYSCALL_SETUPTIMERSYSCALL                    901
#define TRACE_ENABLE_SYSCALL_SETUPTIMERSYSCALL 
#define TRACE_SYSCALL_GETCPUCOUNTSYSCALL                   902
#define TRACE_ENABLE_SYSCALL_GETCPUCOUNTSYSCALL